*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'segioe ui','Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
}


.navbar-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 56px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1000;
    background-color:#2c3e50;

}

.navbar{
    display: flex;
    background-color:#2c3e50;
    padding: 0px;
    border-radius: 5px;
    top: 0;
    left: 0;
    width: 1200px;
    z-index: 1000;
    height: 56px;
    overflow: hidden;

}

.menu{
    list-style: none;
    display: flex;
    position: relative;
    align-items: center;
    top: 0px;
    
}

.menu li{
    height: 56px;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    align-items: center; /* Centraliza verticalmente */
}

.menu li:hover{
    background-color:#34495e;
}

.menu li a{
    color:#318fa6;
    text-decoration: none;
    font-size: 16px;
    display: block;
    align-items: center; 
    
}

.areaOng{
    background-color: #2ecc71;
}



/* login */

.Loginbtn{
    display: flex;
    position: relative;
    padding: 0px;
    top: 0;
    left: auto;
    height: 56px;
    top: 0px;
}

.Loginbtn li{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 0 20px; 
    
}






.icon-login a {
    background-color: #3498db;
    color: #ecf0f1;
    padding: 8px 16px;
    border-radius: 5px;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px; 
    font-size: 16px;
    
}

.icon-login a:hover {
    background-color: #2980b9; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}
  
.icon-login img {
    width: 20px;
    height: 20px;
    border-radius: 100%;
    margin-right: 15px;
    border: 1px solid #ecf0f1;
    position: relative;
}

.submenu{
    position: absolute;
    background-color:#34495e;
    left: 0;
    top: 100%;
    list-style: none;
    min-width: 200px;
    display:none;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    border-radius: 0 0 5px 5px;
    
}

.submenu .submenu{
    top: 50px;
    left: 100%;
    border-radius: 5px;
}

.menu li:hover > .submenu{
    display: block;
    animation: fadeIn 0.3s ease;
}

.submenu li{
    padding: 12px 20px;
    border-bottom: 1px solid rgba(255,255,255,0.1);
    position: relative;
}


.submenu li:last-child{
    border-bottom: none;
}

.menu li:hover{
    background-color:#3b4f63;
}

.menu li:hover > a{
    color: #3498db;
}

.submenu li:hover > a{
    color: #2ecc71;
}

.submenu .submenu li:hover > a{
    color: #dde323;
}

@keyframes fadeIn{
    from{
        opacity: 0;
        transform: translateY(10px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}

.menu li::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 3px;
    background: #3498db ;
    transition: width 0.3s ease;
}

.menu li:hover::after{
    width: 100%;
}

.submenu li::before{
    content: '>>';
    color: rgba(255,255,255,0.3);
    margin-right: 10px;
}


/* FOOTER  */


.footer {
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: center;
    padding: 54px 0;
    gap: 24px;
    color: #fff;
    background-color:#2c3e50;
    border: solid 1px #bdc6cf;
}


.footer-content{
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: center;
    justify-content: center;
}

.footer img {
    width: 200px;
}
  
.footer-icons {
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.footer-sobre{
    align-items: flex-start;
    justify-content: center;
    display: flex;
    margin: 0 -.3125rem;
    min-width: 1200px;
    padding: .3125rem;
    width: 100%;
    /* background: #ba3939; */
}



.Box-texto {
    box-sizing: border-box;
    width: 15.625rem;
    /* background: #2ecc71; */
}

.pagamento{
    display: flex;
    /* background: #dc3545; */
    align-items: center;
    justify-content: center;
}

.pag-img {
    background-color: #fff;
    border-radius: .125rem;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
    box-sizing: border-box;
    height: 1.875rem;
    margin-bottom: .5rem;
    margin-right: .5rem;
    overflow: hidden;
    padding: .25rem;
    width: 3.75rem;
    /* background: #cc2e9f; */
}

.pag-link{
    display: flex;
}

.pag-link img {
    width: 100%;
    height: 100%;
}
.ulbox{
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    gap: 8px;
}

img {
    overflow-clip-margin: content-box;
    overflow: clip;
}
  
.btn-whatsapp {
    position: fixed;
    bottom: 14px;
    right: 24px;
    z-index: 99;
}
.btn-whatsapp img {
    max-width: 74px;
    transition: transform 0.4s;
}
.btn-whatsapp img:hover {
    transform: scale(1.1);
}
  
.btn-whatsapp .tooltip-text {
    visibility: hidden;
    position: absolute;
    width: 120px;
    top: 8px;
    left: -144px;
    border-radius: 8px;
    padding: 4px;
    text-align: center;
    background-color: #232224;
    color: #fff;
    opacity: 0;
    transition: opacity 0.4s;
}
  
.btn-whatsapp:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
}
  
@media screen and (max-width: 768px) {
    .btn-whatsapp img {
      max-width: 64px;
    }
}

/* botao logout */

.btn-sair-da-conta {
    background-color: #dc3545; /* Cor de fundo vermelha */
    color: #fff; /* Cor do texto branca */
    padding: 10px 15px; /* Espaçamento interno */
    font-size: 16px; /* Tamanho da fonte */
    border: none; /* Sem borda */
    border-radius: 5px; /* Bordas arredondadas */
    cursor: pointer; /* Cursor de ponteiro */
    transition: background-color 0.3s ease; /* Transição suave para a cor de fundo */
}
  
.btn-sair-da-conta:hover {
    background-color: #c82333; 
}