.criar-campanha-container {
    padding-top: 50px;
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
}

.criar-campanha-container h2 {
    margin-bottom: 20px;
    font-size: 2.5rem;
}

.criar-campanha-container .form-group {
    margin-bottom: 20px;
    text-align: left;
}

.criar-campanha-container .form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.criar-campanha-container .form-group input,
.criar-campanha-container .form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.criar-campanha-container .form-group textarea {
    resize: vertical;
    height: 150px;
}

.criar-campanha-container .form-group input[type="file"] {
    padding: 3px;
}

.criar-campanha-container .btn {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #3498db;
    color: white;
    transition: background-color 0.3s ease;
}

.criar-campanha-container .btn:hover {
    background-color: #2980b9;
}